name: TRM Check

on:
  pull_request:
  push:

jobs:
  trm-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: TRM check
        working-directory: .
        run: |
          python tools/trm_check.py
